#main {
    font-weight: bold;
    font-size: larger;
    display: flex;
}
#main>#top>div {
    display: flex;
    margin: 50px;
}
#main>#middle>div {
    display: flex;
    justify-content: center;
    padding-top: 25%;
    margin: 50px;
}
#main>#bottom>div {
    display: flex;
    justify-content: center;
    margin: 50px;
}