body {
    background-image: url("image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

body, html {
    height: 100%;
    margin: 0;
  }